*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --background:#FBFBFB;
    --primary:#B9E1DC;
    --secondary:#F38181;
    --just-incase:#055049;
    --text:#251D3A;
    --font1:15px;
    --padding1:20px;
    --padding2:10px;
    --padding3:200px;
    --padding4:50px;
    --margin:30px;
    --font2:13px;

}
body{
    background-color: var(--background);
    color:var(--text);
    
}
.navbar{
    background-color: var(--just-incase);
    color:var(--text);
    display:flex;
    justify-content: space-between;
    color: var(--primary);
}
.logo{
   height: 80px;
   width: 80px;
   padding-left: 30px;
}
.logo:hover{
    border: 2px solid var(--primary);
}
.nav-links{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size:var(--font1) ;
}
a{
    color:var(--primary);
    text-decoration: none;
}
a:hover{
    color: var(--background);
}
.nav{
    padding:var(--padding1);
    display:flex;
}
.nav:hover{
    color: var(--background);
    border: 2px solid #B9E1DC;

}
.lgo{
    padding-right:var(--padding2);
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 80vh;
    background:linear-gradient(130deg,#B9E1DC,#4CB3CD);
    color:var(--text);
    animation: fadein 2s ease forwards ;

}
.line{
      animation: fadein 2s ease forwards ;
      animation-delay: 0.2s;
}
.text{
   font-size:var(--font2) ;
   animation: fadein 2s ease forwards ;
   animation-delay: 0.4s;
}
.btn{
    padding:  var(--padding2);
    background-color:var(--just-incase);
    color:var(--primary);
    border-radius:10px;
   animation: fadein 2s ease forwards ;
   animation-delay: 0.6s;
   box-shadow: 0 4px 10px rgba(0,0,0,0.40);
}
.btn:hover{
    background-color:#4CB3CD ;
}
.btn:active{
    background-color: rgb(33, 199, 77);
}
@keyframes fadein {
   from{ 
    opacity:0;
    transform:translateY(30px)
   }
   to{
    opacity: 1;
    transform:translateY(0px);
   }
}
#features{
    display: flex;
    justify-content: center;
    padding:var(--padding4);
    background-image:linear-gradient(rgba(225,225,225,0.6), rgba(225,225,225,0.6)), url(background.jpg);
    background-size: cover;
    height: 50vh;
}
.card{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: var(--padding4);
    margin: var(--margin) ;
    background:linear-gradient(130deg,#edf1f1,#9fd8e8);
    border-radius: var(--padding1);
    box-shadow: 0 4px 30px var(--just-incase) ;
}
.card:hover{
    transform: scale(1.07);
}
#pricing{
    display: flex;
    justify-content: center;
    padding:var(--padding4);
    background-color: #B9E1DC;
}
.cards{
   display: flex;
    flex-direction: column;
    align-items:center;
    padding: var(--padding4);
    margin: var(--margin) ;
    background:linear-gradient(130deg,#f8d495,#dfe6e8);
    border-radius: var(--padding1);
    box-shadow: 0 4px 30px var(--just-incase) ;
}
.cards:hover{
    transform: scale(1.07);
}
#contact{
   display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: var(--just-incase);
    color: var(--primary);
    height:70px;
    font-size: var(--font2);
}
.foot{
    padding:5px;
    margin: 0;

}